<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% field.resource_name = f.object_name %>
  <% if field.selectable_options.length < 4 %>
    <%= f.collection_radio_buttons(
      field.attribute,
      field.selectable_options,
      :last,
      :first
    ) do |b| %>
      <%= b.radio_button %>&nbsp;<%= b.text %>&nbsp;&nbsp;
    <% end %>
  <% else %>
    <%= f.select(
      field.attribute,
      options_from_collection_for_select(
        field.selectable_options,
        :last,
        :first,
        field.data.presence
      )
    ) %>
  <% end %>
</div>
